version: "3.8"

networks:
  arka-network:
    driver: bridge

services:
  postgres:
    image: postgres:15
    container_name: paydb
    restart: unless-stopped
    environment:
      POSTGRES_DB: paymentdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 0921
    volumes:
      - paydb-data:/var/lib/postgresql/data
    networks:
      - arka-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d paymentdb"]
      interval: 10s
      timeout: 5s
      retries: 5

  eureka:
    image: netflixoss/eureka:1.4.12 
    container_name: eureka
    environment:
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
      - EUREKA_CLIENT_REGISTER_WITH_EUREKA=false
      - EUREKA_CLIENT_FETCH_REGISTRY=false
    ports:
      - "8761:8761"
    networks:
      - arka-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/"]
      interval: 10s
      timeout: 5s
      retries: 5

  pay-service:
    build:
      context: .
      dockerfile: Dockerfile
    image: pay-service:latest
    container_name: pay-service
    restart: on-failure
    depends_on:
      postgres:
        condition: service_healthy
      eureka:
        condition: service_started
    networks:
      - arka-network
    ports:
      - "8088:8088"
    environment:
      SERVER_PORT: 8088
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/paymentdb
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 0921
      SPRING_APPLICATION_NAME: pay-service
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka:8761/eureka/
      JAVA_XMS: 256m
      JAVA_XMX: 512m
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:8088/actuator/health | grep UP || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 6
    logging:
      options:
        max-size: "10m"
        max-file: "3"
    deploy:
      resources:
        limits:
          memory: 1024M

volumes:
  paydb-data:
